<div class="container" style="padding: 10px;">
    <div class="card">
        <div class="card-header"><h4>BOOKING SUMMARY</h4></div>

        <div class="card-body">     
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header"><h6>PERSONAL DETAILS</h6></div>
                        <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>name</th>
                            <th>email id</th>
                            <th>mobile no</th>
                        </tr>
                        <tr>
                            <td>{{user.userName}}</td>
                            <td>{{user.emailId}}</td>
                            <td>{{user.mobileNo}}</td>
                        </tr>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header"><h6>MOVIE DETAILS</h6></div>
                        <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>movie name</th>
                            <th>language</th>
                            <th>show date</th>
                            <th>show time</th>
                            <th>screen</th>
                        </tr>
                        <tr>
                            <td>{{movie.movieName}}</td>
                            <td>{{movie.language}}</td>
                            <td>{{show.showDate}}</td>
                            <td>{{show.showTime}}</td>
                            <td>{{show.screen}}</td>
                        </tr>
                    </table>
                    </div>
                    </div>
                </div>
            </div><hr>
            <div class="row">
                <div class="col">
                    <div class="card">
                   <div class="card-header"> <h6>SEAT NO.s : <span *ngFor="let seat of finalSeats">({{seat.seatNo}})</span>= Rs{{price}}</h6>
                    <button class="btn btn-info" (click)="transmit()" >confirm and pay</button>
                </div>
            </div>
        </div>
    </div>
</div>