<div class="container">
    <!--<form (ngSubmit)="userIdVal()">
        <input type="email" name="emailId" placeholder="email id" [(ngModel)]=userId>&NonBreakingSpace;&NonBreakingSpace;
        <button class="btn btn-danger">get your booking details</button><hr>
        </form>-->
    <ul class="list-group" style="list-style-type:none;" *ngFor="let b of bookings;let i=index">
        <li>
        <div class="card">
            <div class="card-heading" style="padding-left: 20px; padding-top: 20px; background-color: goldenrod;">
                {{b.bookingId}}/ <span class="badge"><h6>{{b.statusBooking}}</h6> </span><br>
            </div>

            <div class="card-body" style="background-color: rgb(255, 216, 148);">
                show date :<b>{{shows[i].showDate}}</b>/show time: <b>{{shows[i].showTime}}</b>/screen: <b>{{shows[i].screen}}</b><br>
                {{movies[i].movieName}}<br>
                
                <img src="/assets/qr.jpg" class="img-responsive" style="width:8%; top: 75px; right: 10px; position: absolute;" alt="Image">
                seat details:<br>
                <table class="table table-stripped" style="width: 600px;">
                    <th>
                      <tr>seat no</tr>
                    </th>
                    <td  *ngFor="let s of seats[i]">
                      <tr>{{s.seatNo}} <button class="btn btn-danger" (click)="freeSeat(seats[i],s,shows[i].showId)">delete</button></tr>
                    </td>
                  </table>
            </div>

            <div class="card-footer" style="background-color: goldenrod;">
                <span class="badge">{{b.bookingDate}}/{{b.cancelDate}} cancellation is done as per terms and condition </span>
                <button class="btn btn-danger" (click)="transmit(b,seats[i],shows[i].showId,shows[i].showDate)">cancel booking</button>
            </div>
        </div>
        </li><hr>
    </ul>
</div>