<div class="container">
    <button class="btn btn-dark" style="position: absolute; top: inherit; right: 20px;">All</button>&NonBreakingSpace;
    <button class="btn btn-dark" style="position: absolute; top: inherit; right: 75px;">Sort by date</button>&NonBreakingSpace;
    <button class="btn btn-dark" style="position: absolute; top: inherit; right: 200px;" (click)="transmit()">Add show</button>&NonBreakingSpace;
    <button class="btn btn-dark" style="position: absolute; top: inherit; right: 310px;" (click)="transmit1()">Add movie</button>&NonBreakingSpace;
    <form>
        <input type="text" placeholder=" movie name">&NonBreakingSpace;&NonBreakingSpace;
        <button type="submit" class="btn btn-dark">Searh</button><br><br>
    </form>
    <div class="row" *ngFor="let m of mov; let i=index" style="display: contents;">
        <div class="col">
            
            <div class="card">
                <div class="card-header"> </div>
                <div class="card-body">

                    <table class="table table-bordered">
                        <tr>
                          <th>movie id</th>
                          <th>movie name</th>
                          <th>movie type</th>
                          <th>language</th>
                          <th>director</th>
                          <th>cast</th>
                          <th>producer</th>
                          <th>show time and show date</th>
                        </tr>
                        <tr>
                            <td>{{m.movieId}}/{{des[i].descriptionId}}</td>
                            <td>{{m.movieName}}</td>
                            <td>{{m.types}}</td>
                            <td>{{m.language}}</td>
                            <td>{{des[i].director}}</td>
                            <td>{{des[i].actor}},<br>{{des[i].actress}}</td>
                            <td>{{des[i].producer}}</td>
                            <td>
                            <table class="table table-bordered">
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <th>status</th>
                                    <th>screen</th>
                                </tr>
                                <tr   *ngFor="let s of show[i]">
                                    <td><ul class="list-group" style="list-style-type:none;">
                                        <li>{{s.showDate}}</li>
                                    </ul></td>

                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.showTime}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.statusShow}}/{{s.showId}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.screen}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteShow()">delete</button>
                                    </td>
                                </tr>
                            </table>
                            </td>
                        </tr>
                      </table>

                </div>
                <div class="card-footer">
                    <button class="btn btn-danger" (click)="deleteMovie(des[i].descriptionId,m.movieId)">delete</button>&NonBreakingSpace;&NonBreakingSpace;
                <button class="btn btn-info">update</button>
                </div>
                
            </div><hr>

        </div>
      </div>
</div>