<div class="container-fluid">
    <button class="btn btn-dark" (click)="all()">All</button>&NonBreakingSpace;
    <button class="btn btn-dark" (click)="transmit()">Add show</button>&NonBreakingSpace;
    <button class="btn btn-dark" (click)="transmit1()">Add movie</button>&NonBreakingSpace;
    <div class="row" style="padding: 10px;" *ngFor="let m of mov; let i=index">
        <div class="col">
            
            <div class="card">
                <div class="card-header"> </div>
                <div class="card-body">

                    <table class="table table-bordered">
                        <tr>
                          <th>movie id</th>
                          <th>movie name</th>
                          <th>movie type</th>
                          <th>language</th>
                          <th>director-producer</th>
                          <th>cast</th>
                          <th>show time and show date</th>
                        </tr>
                        <tr>
                            <td>{{m.movieId}}/{{des[i].descriptionId}}</td>
                            <td>{{m.movieName}}</td>
                            <td>{{m.types}}</td>
                            <td>{{m.language}}</td>
                            <td>{{des[i].director}}<br>{{des[i].producer}}</td>
                            <td>{{des[i].actor}},<br>{{des[i].actress}}</td>
                            <td>
                            <table class="table table-bordered">
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <th>status</th>
                                    <th>screen</th>
                                </tr>
                                <tr   *ngFor="let s of show[i]">
                                    <td><ul class="list-group" style="list-style-type:none;">
                                        <li>{{s.showDate}}</li>
                                    </ul></td>

                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.showTime}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.statusShow}}/{{s.showId}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group" style="list-style-type:none;">
                                            <li>{{s.screen}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <button class="btn btn-info" (click)="updateShow(s,m.movieId)">update</button>
                                    </td>
                                </tr>
                            </table>
                            </td>
                        </tr>
                      </table>

                </div>
                <div class="card-footer">
                   <!-- <button class="btn btn-danger" (click)="deleteMovie(des[i].descriptionId,m.movieId)">delete</button>&NonBreakingSpace;&NonBreakingSpace;-->
                <!--<button class="btn btn-info">update</button>-->
                </div>
                
            </div><hr>

        </div>
      </div>
</div>