<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container">
    <div class="myform">
        <a  class="nav-link" [routerLink]="['/home']" style="color: black;"><i class="fas fa-home"></i></a>
        <form (ngSubmit)="register()">
            <h2>USER REGISTRATION</h2>
            <input type="text" name="emailId" placeholder="Email Id" [(ngModel)]=user.emailId required>
            <input type="text" name="username" placeholder="Username" [(ngModel)]=user.userName required>
            <input type="text" name="age" placeholder="Age" [(ngModel)]=user.age required>
            <input type="tel" name="mobile" placeholder="Mobile No" [(ngModel)]=user.mobileNo required>
            <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]=user.password required>
            
            <button type="submit">SIGN UP</button>&NonBreakingSpace;
        </form>
    </div>
    <div class="image">
        <img src="/assets/mini.gif">
    </div>
</div>