<div class="container" style="padding: 20px;">

    <div class="card">

        <div class="card-header"></div>
        <div class="card-body" style="background-color: rgb(4, 5, 19);">
            <div class="row">
                <div class="col">
            <form (ngSubmit)="saveMov()">
                <h4 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: seashell;">Movie Details</h4>
                <table class="table table-bordered" style="background-color: oldlace;">
                    <tr>
                        <div class="form-group">
                            <input type="number" name="movieId" placeholder="movie Id" style="width: 100%;" readonly>
                            </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <input type=text name="movieName" placeholder="movie name" [(ngModel)]=mov.movieName style="width: 100%;">
                            </div>
                    </tr>
                    <tr>
                        <th>movie type</th>
                        <td>
                        <div class="form-group">
                            <input type="radio" name="types1" value="romantic" [(ngModel)]=mov.types>
                            <label>romantic</label><hr>
                            
                            <input type="radio" name="types2" value="fiction" [(ngModel)]=mov.types>
                            <label>fiction</label><hr>
                            
                            <input type="radio" name="types3" value="horror" [(ngModel)]=mov.types>
                            <label>horror</label><hr>
                            
                            <input type="radio" name="types4" value="comedy" [(ngModel)]=mov.types>
                            <label>comedy</label><hr>
                            
                            <input type="radio" name="types5" value="adventure" [(ngModel)]=mov.types>
                            <label>adventure</label><hr>
                            
                            <input type="radio" name="types6" value="animated" [(ngModel)]=mov.types>
                            <label>animated</label><hr>

                            <input type="radio" name="types7" value="action" [(ngModel)]=mov.types>
                            <label>action</label>
                            </div>
                            </td>
                    </tr>
                    <tr>
                                <th>Language</th>
                                <td>
                            <div class="form-group" style="width: 100%;">

                            <input type="radio" name="lang1" value="english" [(ngModel)]=mov.language>
                            <label>english</label><hr>
            
                            <input type="radio" name="lang2" value="hindi" [(ngModel)]=mov.language>
                            <label>hindi</label><hr>
            
                            <input type="radio" name="lang3" value="urdu" [(ngModel)]=mov.language>
                            <label>urdu</label>
                            </div>
                            </td>
                    </tr>
                    
                    <tr>
                        <div class="form-group"><button type="submit" class="btn btn-info">Add movie</button></div>
                    </tr>
                </table>
                
            </form>
            </div>

        </div>
        </div>
        <div class="card-footer"></div>

    </div>

</div>