.jumbotron {
    margin-bottom: 0;
    background-image: url("/assets/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer {
    background-color: rgb(48, 48, 51);
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: floralwhite; 
    opacity: 1;
  }

  .body{
    background-image: url("/assets/black.jpg");
    background-size: contain;
  }