.jumbotron {
    margin-bottom: 0;
    /*background-image: url("/assets/gold.jpg");*/
  }

  footer {
    background-color: rgb(48, 48, 51);
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: floralwhite;
  }
