<div class="container" style="text-align: left;">

    <div class="card-w-50">
        <div class="card-heading" style="color: floralwhite; margin-left: 20px;"><h3>{{movie.movieName}}</h3></div>
        <div class="card-body">
          <iframe width="560" height="315" [src]="str" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <table class="table table-stripped">
                <th>
                  <tr>director</tr>
                  <tr>producer</tr>
                  <tr>featuring</tr>
                  <tr>cast</tr>
                </th>
                <td>
                  <tr>{{des[x].director}}</tr>
                  <tr>{{des[x].producer}}</tr>
                  <tr>{{des[x].writer}}</tr>
                  <tr>{{des[x].actor}}<br>{{des[x].actress}}</tr>
                </td>
              </table>
        </div>
        <div class="card-footer"><button class="btn btn-dark" style="color: floralwhite;" (click)="nextPage()"><h6>BOOK TICKET</h6></button></div>
    </div>

</div>
