<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading">MOVIE1</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/beauty.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">DESCRIPTION</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading">MOVIE 2</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/devdas.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">DESCRIPTION</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading">MOVIE 3</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/joker.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">DESCRIPTION (50% DISCOUNT)</div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading">MOVIE 5</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/spider.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">DESCRIPTION (SEASON SPECIAL)</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading">MOVIE 6</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/shrooms.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">DESCRIPTION (NEW ARRIVAL)</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading">MOVIE 7</div>
          <div class="card-body"><a [routerLink]="['/login']"><img src="/assets/venom.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer">ABOUT TO CLOSE (DESCRIPTION)</div>
        </div>
      </div>
    </div>
  </div><br><br>
