<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container">
    <div class="card" id="card">
        <div class="card-header"></div>
        <div class="card-body">
            <hr>
                <h1>CINEMA</h1>
                <h1>TICKET <i class="fas fa-video" style="color: seashell;"></i></h1>
                
                <img src="/assets/girlcorn.gif" class="img-responsive" style="width:35%;right: 20px;position: absolute; top: 70px;" alt="Image">
                <h4>{{show.showDate}} : {{show.showTime}}</h4>
                <h4>SEAT NO : /<span *ngFor="let seat of finalSeats"> {{seat.seatNo}}/</span></h4>
                <h4>SCREEN : {{show.screen}}</h4>
            <hr>
        </div>
        <div class="card-footer">{{booking.bookingId}}</div>
    </div>

</div>